name: Build and Publish ESPHome firmware and website

on:
  push:
    branches:
      - main

jobs:
  publish-gl-s10:
    name: Publish GL.iNet GL-S10
    uses: esphome/workflows/.github/workflows/publish.yml@main
    with:
      files: gl-s10.yaml
      name: GL.iNet GL-S10
      manifest_filename: gl-s10-manifest.json
      clean: false
      esphome_version: stable

  publish-gl-s10_v2:
    name: Publish GL.iNet GL-S10 V2
    uses: esphome/workflows/.github/workflows/publish.yml@main
    with:
      files: gl-s10_v2.yaml
      name: GL.iNet GL-S10 v2
      manifest_filename: gl-s10_v2-manifest.json
      clean: false
      esphome_version: stable